/* Reset de estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-color:rgb(232, 232, 232);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Calibri, Arial;
  font-weight: 500;
  font-size: 11pt;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-display: optional;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


/* Estilos para formulario de edición */

.forms-section {
  display:center;
  justify-content: center;
  align-items: center;
  
}

.section-title {
  text-align: center;
  color: #333;
}

.forms {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #e2dfdf;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-block {
  margin-bottom: 20px;
}

.input-block label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-block input {
  width: 95%;
  padding: 10px;
  border: 1px solid #b3b2b2;
  border-radius: 10px;
}

.input-block textarea {
  height: 100%;
  width: 200%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}
